<div class="navbar-fixed">
    <nav style="height:60px;line-height: 60px; ">
        <div class="nav-wrapper red accent-4">
            <span> </span>
            <a href="#/" class="brand-logo" style="margin-left:5px;margin-top:10px;">
                <h2 style="color: white;"><b>REDES NEURONALES ARTIFICIALES</b></h2>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="javascript:;" class="waves-effect waves-light"><i class="material-icons left" style="font-size:18px;">today</i>{{vm.hoy | esdate: 'full'}}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div ui-view id="container" >
</div>


